@model ChangePasswordModel 
@{ 
    ViewData["Title"] = "Change Password";
}
<form asp-action="ChangePassword" asp-controller="Account"
      asp-route-email="@ViewData["Email"]" asp-route-token="@ViewData["Token"]" method="post">
    <div class="input-group-prepend">
        <label class="input-group-text mr-2" asp-for="Password"></label>
        <input class="form-control-sm" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="input-group-prepend">
        <label class="input-group-text mr-2" asp-for="ConfirmPassword"></label>
        <input class="form-control-sm" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <input type="submit" value="Change" class="btn btn-primary" />
</form>