@{
    ViewData["Title"] = "Your email is confirmed";
}

<h3 class="text-center text-primary">
    Dear user, now you can <a asp-action="Login" asp-controller="Account">Login</a> <br />
    Enjoy your time with our app!
</h3>