@model ForgotPasswordModel  
@{ 
    ViewData["Title"] = "Forgot Password";
}
<h4>If you forgot password, please fill in your email:</h4>
<form asp-action="ForgotPassword" asp-controller="Account" method="post">
    <div class="input-group-prepend">
        <label class="input-group-text mr-2" asp-for="Email"></label>
        <input class="form-control-sm" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <input type="submit" value="Forgot" class="btn btn-primary" />
</form>

<hr />

@if (ViewData["ForgotSuccess"] != null)
{
    <div>
        Please check your email and follow the steps presented there. <br />
        If you have any further questions, please contact our team.
    </div>
}