@{ 
    ViewData["Title"] = "About";
}
<h2>About Piotr Ptak</h2>

<p>
    Project created for educational purposes with the aim to focus mostly on Identity
</p>
<br/>
<p>
    Technologies in this project:
    <ul class="list-group">
        <li class="list-group-item">AutoMapper</li>
        <li class="list-group-item">FluentEmail</li>
        <li class="list-group-item">Hangfire</li>
        <li class="list-group-item">Serilog</li>
        <li class="list-group-item">ASP .Net Core 3.1 MVC</li>
    </ul>
</p>
<div class="text-center">
    <a href="https://github.com/ptakpiotr">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="width:80px" alt="Github" />
    </a>
</div>