@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>The privacy policy</h2>
<ol class="list-group">
    <li class="list-group-item" >I do not own any images and cars itself</li>
    <li class="list-group-item" >Cars presented here are not real- it is just for demonstration purposes</li>
    <li class="list-group-item" >I store the following information associated with the user itself: 
        <ul>
            <li>Email</li>    
            <li>City</li>    
            <li>Password</li>    
            <li>Cars</li>    
        </ul>
    </li>
    <li class="list-group-item">
        The cars will be deleted automatically once a week
    </li>
    <li class="list-group-item">
        If you have any questions or just want to leave your feedback, please visit <a asp-action="About" asp-controller="Home">About page</a>
    </li>
</ol>
